.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  

nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    
    
    
}
.btn{
    color: #006A50;
    padding: 15px;
    width: 116px;
    height: 54px;
    background-color: white;
}
.color{
    color: #0E0E0E;
    margin-bottom: 45px;

}
.bold{
    color: #0E0E0E;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 45px;
    
}
.btn-primary{
    background-color: #006A50;
    color: #FFFFFF;
    height: 56px;
    width: 270px;
}
.image-profile-pic{
    width: 474.03px;
    height: 400px;
    margin:45px  ;
}
.banner{
    display: flex;
    background-color: #C6E4D6;
    height: 708;
    width: 1280;
    border-radius: 24px;
    /* padding-bottom: 80px; */
    /* padding-top: 80px; */
    padding-left: 64px;
    padding-right: 64px;
    /* margin: 200px; */
}
.banner-content.color.bold{
    margin-bottom: 24px;
}
.section-title{
  font-weight: bold;
  font-size: 40px;
  height: 48px;
  /* padding: 0 72px; */
  
}
.section-description{
  color: #0E0E0E;
  /* padding: 0 72px; */
}
.skills-container{
  display: flex;
  justify-content:space-between;
}
.skill-title{
  font-weight: bold;
  font-size: 20px;
}
.skill-description{
  font-weight: 400px;
  font-size: 16px;
  
}
.btn-title{
  font-weight: 600px;
  font-size: 16px;

}
.btn-title-bcg{
  background-color: #5490F5;
  border-color: #5490F5;
  color: #FFFFFF;
  border-radius: 16px;
  width: 122px;
  height: 41px;
}
.btn-title-bg{
  background-color: #09A15C;
  border-color: #C6E4D6;
  color: #FFFFFF;
  border-radius: 16px;
  width: 122px;
  height: 41px;
}
.btn-title-bc{
  background-color: #FFC239;
  border-color: #F7EBCF;
  color: #FFFFFF;
  border-radius: 16px;
  width: 122px;
  height: 41px;
}
.skill-ground{
  background-color: hsl(222, 89%, 86%);
  border-radius: 16px;
  width: 410.67px;
  height: 300px;
  justify-items:left;
  padding-top: 20px;
  padding-left: 20px;
  
}
.skill-back{
  background-color: #C6E4D6;
  border-radius: 16px;
  width: 410.67px;
  height: 300px;
  justify-items:left;
  padding-top: 20px;
  padding-left: 20px;

}
.skill-color{
  background-color: #F7EBCF;
  border-radius: 16px;
  width: 410.67px;
  height: 300px;
  justify-items:left;
  padding-top: 20px;
  padding-left: 20px;
}
.people.discription{
  font-weight: 400px;
  font-size: 16px;
  width: 1230px;
  height: 90px;
}
.people{
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  background-color: aliceblue;
  border-radius: 16px;
  box-shadow: #C6E4D6;

}
.people-title{
  font-weight: 600;
  font-size: 20px;
}
.Republic{
  font-weight: 400;
  font-size: 16px;
}
.tecnology-tec{
  font-weight: bold;
  font-size: 40px;
  width: 1280px;
  height: 48px;
}
.tecnology-description{
  font-weight: 400px;
  font-size: 16px;
  color: #0E0E0E;
}
.tecnology-container{
  display: flex;
  border-radius: 15px;
  background-color: aliceblue;
  gap: 20px;
  box-shadow: #C6E4D6;
}
.tecnology-title{
  font-weight: bold;
  font-size: 32px;
  width: 744px;
  height: 30px;
}
.img{
  width: 134px;
  height: 40px;
}
.pic{
  width: 408px;
  height: 306px ;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
.btn-style{
  width: 139px;
  height: 48px;
  background-color: #006A50;
  color: #FFFFFF;
}
.tecnology{
  display: flex;
  border-radius: 15px;
  background-color: aliceblue;
  gap: 20px;
  box-shadow: #C6E4D6;


}
.picture{
  width: 408px;
  height: 306px ;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;

}
.margin{
  margin-bottom: 28px;
}
.margin-title{
  margin-top: 25px;
}
.donate{
  font-weight: bold;
  font-size: 30px;
}
.bangladesh{
  font-weight: 400px;
  font-size: 16px;
}
.today{
  text-align: center;
}
.box{
  width: 200px;
  height: 66px;
  margin: 10px 0;
  border: 2px solid black;
  border-radius: 16px;
  text-align: center;
  
  
  
}
.box-200{
background-color: #C6E4D6;
border: #0E0E0E;
}
.box-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.money{
  width: 880px;
  height: 35px;
  border-radius: 16px;
  text-align: center;
  margin-right: 40px;
  margin-left: 250px;
  color: #FFFFFF;

}
.done{
  width: 151px;
  height: 54px;
  border-radius: 8px;
  background-color: #006A50;
  border: #0E0E0E;
  color: #FFFFFF;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 600px;

}
.test{
  margin-bottom: 15px;
}
.news{
  font-weight: bold;
  font-size: 120px;
  padding: 64px 0;
  width: 622px;
  height: 48px;
}
.nation{
  font-weight: 400px;
  font-size: 16px;
}
.good{
  text-align: center;
  
}
.email{
  width: 600px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
}
.subs{
  width: 150px;
  height: 45px;
  background-color: #006A50;
  color: #FFFFFF;
  
}
.spam{
  text-align: center;
  font-weight: 400px;
  font-size: 16px;
}
.promise{
  background-color: #C6E4D6;
  border-radius: 24px;
  width: 1280px;
  height: 300px;
}
.foot{
  padding-top: 30px;
}